<div style="display: flex;justify-content: center;">
    <div style="width: 30vw;">
    <h2>Add Work</h2>

        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Company Name</mat-label>
            <input type="text" [(ngModel)]="company_name" matInput placeholder="Ex. pat@example.com">
        </mat-form-field><br>
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Position</mat-label>
            <input type="text" [(ngModel)]="position" matInput placeholder="Ex. pat@example.com">
        </mat-form-field><br>
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Start Date</mat-label>
            <input type="date" [(ngModel)]="start_date" matInput placeholder="Ex. pat@example.com">
        </mat-form-field><br>
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>End Date</mat-label>
            <input type="date" [(ngModel)]="end_date" matInput placeholder="Ex. pat@example.com">
        </mat-form-field><br>
        <div style="display: flex;justify-content: space-between;">
            <button type="button" class="btn btn-success" (click)="addWorkExperience()">Add Work</button>
        
            <button type="button" class="btn btn-danger" (click)="this.modal.close()">Cancel</button>
        </div>
      
    </div>
    

    <!-- <button mat-raised-button color="primary" (click)="currentIndex=1">Save Profile</button> -->


</div>